/* 폰트선언 */

@font-face {
    font-family: 'gblod';
    src: url(/GmarketSansTTFBold.ttf);
}
@font-face {
    font-family: 'glight';
    src: url(/GmarketSansTTFLight.ttf);
}
@font-face {
    font-family: 'gmedium';
    src: url(/GmarketSansTTFMedium.ttf);
}

/* 전체 */
*{
    background-color: rgb(255, 248, 239);
}

/* 정렬 */
#base{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

/* 로고 */
#logo{
    font-family: "gblod";
    margin-top: 10px;
    margin-bottom: 0px;
}
h1 {
    padding: 16px 24px;
    margin: 0;
    font-size: 16px;
    border-bottom: 1px solid #eaeaea;
}


/* 입력창 폰트 */
#text{
    font-family: "gmedium";
    margin-top: 20px;
}

/* 폴더명 디자인 */
#folder_title{
    border: 2px solid black;    
    border-radius: 5px;
    width: 600px;
    height: 30px;
}

input::placeholder{
    font-family: "glight";
    padding: 5px;

}
#titleday{
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    font-weight: bold;
}



/* 생성 버튼 디자인*/
#add_folder{
    font-weight: bold;
    margin-top: 30px;
    font-family: "gbold";
    border-radius: 5px;
    padding: 8px 20px 6px 20px;
    background-color: white;
}

/* list 추가 디자인 */
.list-container {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    width: 80%;
    align-self: center;
}


#list {
    margin: 32px 0;
    list-style: none;
}

.list_item {
    font-weight: 700;
    border-bottom: 1px solid #cccccc;
    margin-right: 32px;
    padding-top: 20px;
    padding-bottom: 16px;
    font-size: 14px;
}

.sub-list_item {
    font-weight: 200;
    margin-right: 32px;
    padding-top: 5px;
    font-size: 14px;
    list-style: none;
}
.sub-list_item-ul{
    margin-bottom: 40px;
}
.sub-list_item-ul li{
    list-style:none;
    margin-top: 10px;
}
.sub-list_item-ul li::before{
    content: "- ";
    
}

/* 버튼 디자인 */
.btndel{
    top: -38px;
    left: 0%;
    position: relative;
    border: none;
}
.subbtndel{
    top: -20px;
    left: 93%;
    position: relative;
    border: none;
}
.btnplus{
    top: -38px;
    left: 0%;
    position: relative;
    border: none;
}

/* 물음표 디자인 */
.position_icon{
    position: relative;
    top : 8px;
    left: 10px;
    opacity: 60%;
}


/* 물음표 글 */
.hover_text{
    display: none;
    position: absolute;
    right: 210px;
    top: 95px;
    font-size: 13px;
    font-family: auto;
    font-weight: bold;

}

.position_icon:hover + .hover_text{
    display: block;
}